.headerWP {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 20px;
}
.logo {
  width: 200px;
  height: auto;
}
main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: calc(100vh - 160px);
}
.titleWP {
  color: var(--primary-green);
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
}
.button_group {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.ThemeButton svg {
  color: var(--text-primary);
  width: 30px;
  height: 30px;
}
