.container {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logo {
  width: 100px;
  height: auto;
}
main {
  text-align: center;
}
